<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>books</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'books/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />

  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'books/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'books/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
